# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!Kansen3_patch.xp3
!Kansen3_patch/*.ks
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!bar_b1_1.rpgmvp
!bar_b3_1.rpgmvp
!bar_b3_2.rpgmvp
!bar_b3_3.rpgmvp
!bar_b4_1.rpgmvp
!bar_b4_10.rpgmvp
!bar_b4_11.rpgmvp
!bar_b4_12.rpgmvp
!bar_b4_120.rpgmvp
!bar_b4_2.rpgmvp
!bar_b4_3.rpgmvp
!bar_b4_4.rpgmvp
!bar_b4_5.rpgmvp
!bar_b4_6.rpgmvp
!bar_b4_7.rpgmvp
!bar_b4_8.rpgmvp
!bar_b4_9.rpgmvp
!bar_b5_1.rpgmvp
!bar_b5_2.rpgmvp
!bar_b5_3.rpgmvp
!Chara_detail_1.rpgmvp
!Chara_detail_2.rpgmvp
!Credit-opening.rpgmvp
!Is_b1_1.rpgmvp
!item-s_b1_1.rpgmvp
!item_01.rpgmvp
!item_02.rpgmvp
!item_03.rpgmvp
!item_04.rpgmvp
!item_05.rpgmvp
!item_06.rpgmvp
!item_07.rpgmvp
!item_08.rpgmvp
!item_09.rpgmvp
!item_10.rpgmvp
!item_11.rpgmvp
!item_12.rpgmvp
!item_13.rpgmvp
!item_14.rpgmvp
!item_15.rpgmvp
!item_16.rpgmvp
!item_17.rpgmvp
!item_18.rpgmvp
!item_19.rpgmvp
!item_20.rpgmvp
!item_21.rpgmvp
!item_22.rpgmvp
!item_23.rpgmvp
!item_24.rpgmvp
!item_25.rpgmvp
!item_26.rpgmvp
!item_27.rpgmvp
!kaiso_choi_c.rpgmvp
!kaiso_choi_dri.rpgmvp
!kaiso_choi_huku.rpgmvp
!kaiso_choi_nasi.rpgmvp
!kaiso_choi_nasi2.rpgmvp
!kaiso_choi_oka.rpgmvp
!kaiso_choi_omo.rpgmvp
!kaiso_choi_p.rpgmvp
!kaiso_choi_sita.rpgmvp
!kaiso_choi_sya.rpgmvp
!kaiso_choi_sya2.rpgmvp
!kaiso_choi_z.rpgmvp
!kaiso_p1.rpgmvp
!kaiso_p10.rpgmvp
!kaiso_p11.rpgmvp
!kaiso_p12.rpgmvp
!kaiso_p13.rpgmvp
!kaiso_p14.rpgmvp
!kaiso_p15.rpgmvp
!kaiso_p16.rpgmvp
!kaiso_p17.rpgmvp
!kaiso_p18.rpgmvp
!kaiso_p19.rpgmvp
!kaiso_p2.rpgmvp
!kaiso_p3.rpgmvp
!kaiso_p4.rpgmvp
!kaiso_p5.rpgmvp
!kaiso_p6.rpgmvp
!kaiso_p7.rpgmvp
!kaiso_p8.rpgmvp
!kaiso_p9.rpgmvp
!kaiso_prof_0.rpgmvp
!kaiso_prof_1.rpgmvp
!kaiso_prof_10.rpgmvp
!kaiso_prof_11.rpgmvp
!kaiso_prof_12a.rpgmvp
!kaiso_prof_12b.rpgmvp
!kaiso_prof_2.rpgmvp
!kaiso_prof_3.rpgmvp
!kaiso_prof_4.rpgmvp
!kaiso_prof_5.rpgmvp
!kaiso_prof_6.rpgmvp
!kaiso_prof_7.rpgmvp
!kaiso_prof_8.rpgmvp
!kaiso_prof_9.rpgmvp
!kaiso_t1_1.rpgmvp
!kaiso_t1_2.rpgmvp
!kaiso_t2_1.rpgmvp
!kaiso_t2_2.rpgmvp
!kaiso_t2_3.rpgmvp
!kaiso_t2_4.rpgmvp
!kaiso_t2_5.rpgmvp
!kaiso_t2_6.rpgmvp
!kaiso_t2_7.rpgmvp
!kaiso_t3_1.rpgmvp
!kaiso_t3_2.rpgmvp
!kaiso_t3_3.rpgmvp
!kaiso_t4_1.rpgmvp
!kaiso_t4_10.rpgmvp
!kaiso_t4_11.rpgmvp
!kaiso_t4_12.rpgmvp
!kaiso_t4_13.rpgmvp
!kaiso_t4_14.rpgmvp
!kaiso_t4_15.rpgmvp
!kaiso_t4_16.rpgmvp
!kaiso_t4_17.rpgmvp
!kaiso_t4_18.rpgmvp
!kaiso_t4_19.rpgmvp
!kaiso_t4_2.rpgmvp
!kaiso_t4_20.rpgmvp
!kaiso_t4_21.rpgmvp
!kaiso_t4_22.rpgmvp
!kaiso_t4_23.rpgmvp
!kaiso_t4_3.rpgmvp
!kaiso_t4_4.rpgmvp
!kaiso_t4_5.rpgmvp
!kaiso_t4_6.rpgmvp
!kaiso_t4_7.rpgmvp
!kaiso_t4_8.rpgmvp
!kaiso_t4_9.rpgmvp
!kaiso_t5_1.rpgmvp
!kaiso_t5_10.rpgmvp
!kaiso_t5_11.rpgmvp
!kaiso_t5_2.rpgmvp
!kaiso_t5_3.rpgmvp
!kaiso_t5_4.rpgmvp
!kaiso_t5_5.rpgmvp
!kaiso_t5_6.rpgmvp
!kaiso_t5_7.rpgmvp
!kaiso_t5_8.rpgmvp
!kaiso_t5_9.rpgmvp
!menu_1.rpgmvp
!menu_2.rpgmvp
!menu_3.rpgmvp
!menu_end.rpgmvp
!menu_endsentaku.rpgmvp
!menu_odo.rpgmvp
!menu_onna.rpgmvp
!menu_skipsentaku.rpgmvp
!menu_start.rpgmvp
!menu_year.rpgmvp